<nav class="site-nav">
  <div class="nav-container">
    <a class="nav-brand" href="{{ '/' | relative_url }}" title="{{ site.title }}">
      <img src="https://github.com/{{ site.author.github }}.png?size=80" alt="{{ site.title }}" class="nav-avatar">
      <span class="nav-brand-label">{{ site.author.name }}</span>
    </a>
    <div class="nav-actions">
      <a href="{{ '/blog/' | relative_url }}" class="nav-blog-btn {% if page.url contains '/blog' %}active{% endif %}">
        [BLOG]
      </a>
    </div>
  </div>
</nav>
